body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00639A;
}

header {
    background: #00639A;
    color: white;
    padding: 20px;
    text-align: center;
}

.intro, .skills-developed, .timeline {
    margin: 20px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #00639A;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #00639A;
    color: white;
}
.navbar {
    background-color: #2c3e50;
    padding: 15px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s; /* Added transform transition */
}

.nav-list a:hover {
    color: #3498db; /* Change color on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
}
