body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00639A;
}

header {
    background: #00639A;
    color: white;
    padding: 20px;
    text-align: center;
}

.intro, .skills-developed, .timeline {
    margin: 20px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #00639A;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #00639A;
    color: white;
}
